<form 
	action="/users" 
	method="post" 
	accept-charset="UTF-8" 
	data-turbo=false
>
	<input
		type="hidden"
		name="authenticity_token"
		value="<%= form_authenticity_token %>"
	>
	<label for="username">
		username
		<input type="text" name="user[username]">
	</label>
	<label for="email">
		email
		<input type="email" name="user[email]">
	</label>
	<label for="password">
		password
		<input type="password" name="user[password]">
	</label>
	
	<button type="submit">create user</button>
</form>